@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: lightcoral;
    }
</style>
<div class="text-center">
    <h3 class="display-4">LaTaquizaTec</h3>
    <p>Los tacos mas mexicanos que tu tono humilde.</p>       
</div>
