@model Ejemplo.Models.Orden

@{
    ViewData["Title"] = "Edit";
}
<style>
    body {
        background-color: lightcoral;
    }
</style>
<h1>Edicion</h1>

<h4>Orden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group form-crear-orden-clientes">
                <label class="control-label">Cliente</label>
                @if (ViewBag != null && ViewBag.Cliente is SelectList && (ViewBag.Cliente as SelectList).Count() > 0)
                {
                    @Html.DropDownList("Cliente.Id", ViewBag.Cliente as SelectList)
                }
                else
                {
                    <select>
                        <option disabled selected>No hay Clientes disponibles</option>
                    </select>
                }
            </div>
            <div class="form-group form-crear-orden-foto">
                <img id="foto-perfil" class="perfil-foto" src="https://tacos.blob.core.windows.net/contenedor-taquitos/Captura.PNG" />
            </div>
            <div class="form-group form-crear-orden-archivo">
                <input name="Foto" class="form-control" id="archivo" type="file" />
            </div>                        
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}